.about-hero-img {
	height: 70vh;
	background-image: url('../assets/aboutHero-bg.jpg');
	background-repeat: no-repeat;
	position: relative;
}

.about-hero-img::before {
	position: absolute;
	content: "";
	background-color: rgba(13,45,62,.8);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	background-repeat: no-repeat;
}